<aside>
  <p class="intro">{{ site.subtitle }}</p>
  <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a>
  <nav class="sidebar-nav" role="navigation">
    <ul>
      {% for link in site.navigation %}
        {% if link.internal == true %}
          <li class="group {% if page.title == link.text %}sidebar-nav-active{% endif %}">
            <a href="{{ site.baseurl }}/{{ link.url }}"  {% if page.title == link.text %}title='Current Page'{% endif %}>{{ link.text }}</a>
            {% if link.children %}
              <button class="expand-subnav"
                      aria-expanded="{% if link.text == page.parent or link.text == page.title %}true{% else %}false{% endif %}"
                      aria-controls="nav-collapsible-{{ forloop.index }}">+</button>
              <ul class="nav-children" id="nav-collapsible-{{ forloop.index }}" 
                  aria-hidden="{% if link.text == page.parent or link.text == page.title %}false{% else %}true{% endif %}">
                {% for child in link.children %}
                  <li class="{% if page.title == child.text %}sidebar-nav-active{% endif %}">
                    <a href="{{ site.baseurl }}/{{ link.url}}{{ child.url }}"  
                      title="{% if page.title == child.text %}Current Page{% endif %}">{{ child.text }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</aside>
