---
---

@import "guides_style_18f";

// Header ------------- //

.site-header {
  border-bottom: 4px solid #1188ff;
  padding: 2em 0;
}

.logo {
  max-width: 7.5rem;

  @include media($medium-screen) {
    float: right;
    max-width: 6rem;
  }
}

.site-title {
  display: inline-block;
  font-size: $h2-font-size;
  margin-top: 0;

  a {
    color: $color-base;
  }
}

// Sidebar navigation --------- //

.sidebar-nav {
  @include media($medium-screen) {
    margin-top: 6rem;
  }
}
.usa-sidenav-list li {
  position: relative;
}

.usa-sidenav-list a {
  padding-bottom: 1.3rem;
  padding-top: 1.3rem;
}

.expand-subnav {
  background: none;
  border: none;
  border-radius: 30px;
  color: #0072ce;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 20px;
  height: 30px;
  line-height: 1;
  margin: 8px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;    
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  -o-transition: -o-transform .2s;
  transition: transform .2s;
}

.expand-subnav:hover,
.expand-subnav:focus {
  background-color: #0072ce;
  color: #fff;
  outline: none;
}

.expand-subnav[aria-expanded=true] {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

// Footer ------------ //

.site-footer {
  background-color: $color-gray-lightest;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
